<div class="container">  
  <div class="row">  
    <div class="col-md-4 offset-md-4">  
      <h2 class="title">  
        <img [src]="logoUrl" alt="Logo de mi sitio web" class="logo">  
      </h2>  
      <form class="form" (ngSubmit)="onSubmit()">  
        <div class="form-group">  
          <label for="username" data-toggle="tooltip" data-placement="top" title="Ingresar usuario">Usuario<span class="tooltip-icon"></span></label>  
          <input type="text" class="form-control" id="username" [(ngModel)]="username" name="usuario" (keydown)="onlyNumbers($event, minLength.username)" minlength="{{ minLength.username }}">  
          <div *ngIf="username && username.length < minLength.username" class="text-danger">El usuario debe tener {{minLength.username}} caracteres</div>  
        </div>  
        <div class="form-group">  
          <label for="password" data-toggle="tooltip" data-placement="top" title="Ingresar contraseña">Contraseña</label>  
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="contrasena" minlength="{{ minLength.password }}" maxlength="5">  
          <div *ngIf="password && password.length < minLength.password" class="text-danger">La contraseña debe tener {{minLength.password}} caracteres</div>  
        </div>  
        <div class="form-group">  
          <label for="username">Emisor</label>  
          <br>  
          <select class="form-select" [(ngModel)]="selectedEmisor" name="emisorSelect" (change)="onChangeEmisor($event)">  
            <option *ngFor="let emisor of emisores" [value]="emisor.NombreEmisor" [selected]="emisor.NombreEmisor === emisores[0].NombreEmisor">{{ emisor }}</option>  
          </select>  
        </div>  
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>  
      </form>  
    </div>  
  </div>  
</div>  
